.el-menu{
    background-color: inherit;
    border-right: none;
}

.el-breadcrumb__inner a {
        font-weight: normal;
        text-decoration: none;
        -webkit-transition: var(--el-transition-color);
        transition: var(--el-transition-color);
        color: var(--el-text-color-primary);
}