.el-menu{
    background-color: inherit;
    border-right: none;
}

.el-breadcrumb__inner a {
    color: #00000073;
    font-weight: normal;
    text-decoration: none;
    -webkit-transition: var(--el-transition-color);
    transition: var(--el-transition-color);
}